@model ICP.SP.IntranetWeb.ViewModels.IncomingMailboxViewModel
@{
    ViewBag.Title = "Incoming Mailing";
}
<link rel="Stylesheet" type="text/css" href="../content/peoplepickercontrol.css" />
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"></script>
<script src="../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../Scripts/ppcincoming_actions.js?1" type="text/javascript"></script>
<script src="../Scripts/peoplepickercontrol.js" type="text/javascript"></script>
<script type="text/javascript">
        // Set the style of the client web part page to be consistent with the host web.
        (function () {
            'use strict';

            var hostUrl = '';
            var link = document.createElement('link');
            link.setAttribute('rel', 'stylesheet');
            if (document.URL.indexOf('?') != -1) {
                var params = document.URL.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var p = decodeURIComponent(params[i]);
                    if (/^SPHostUrl=/i.test(p)) {
                        hostUrl = p.split('=')[1];
                        link.setAttribute('href', hostUrl + '/_layouts/15/defaultcss.ashx');
                        break;
                    }
                }
            }
            if (hostUrl == '') {
                link.setAttribute('href', '/_layouts/15/1033/styles/themable/corev15.css');
            }
            document.head.appendChild(link);
        })();
        $(document).ready(function () {
            $("#actionDetails").load('@Url.Action("IncomingHistoryDetails", new ICP.SP.IntranetWeb.ViewModels.MailboxDetailsViewModel() { DocumentId = Model.DBModel.MailboxDocumentId })')
        });
</script>
<style type="text/css">
    .col-md-6 textarea {
        max-width: 100%;
    }
</style>
<div class="container">
    <hr />
    <form action="@Request.Url.PathAndQuery" method="POST">
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="DocumentSubject">Asunto</label>
            <div class="col-md-4">
                @Html.DisplayFor(m => m.DBModel.DocumentSubject, new { @class = "form-control" })
            </div>
            <label class="col-md-2 control-label" for="DocumentDate">Fecha</label>
            <div class="col-md-2">
                @Html.Raw(Model.DBModel.DocumentDate.ToString("dd/MM/yyyy"))
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="DocumentSummary">Observaciones</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.DBModel.DocumentSummary, new { @class = "form-control" })
            </div>
        </div>
        <div class="clearfix"></div>
        @Html.HiddenFor(m => m.DBModel.SiteUrl)
        @Html.HiddenFor(m => m.DBModel.DocumentLibraryId)
        @Html.HiddenFor(m => m.DBModel.ListItemId)
        @Html.HiddenFor(m => m.DBModel.MailboxDocumentId)
        @Html.HiddenFor(m => m.DBModel.AssignmentDate)
        @Html.HiddenFor(m => m.PreviousPage)
        @Html.HiddenFor(m => m.DBModel.DocumentUrl)
        @Html.HiddenFor(m => m.DBModel.DocumentTitle)
        @Html.HiddenFor(m => m.DBModel.DocumentSubject)
        @Html.HiddenFor(m => m.DBModel.DocumentDate)
        @Html.HiddenFor(m => m.DBModel.DocumentSummary)
        <br />
        @if (Model.DBModel.MailboxDocumentId > 0)
        {
            <div class="container" id="actionDetails">
                
            </div>
        }
        <div class="clearfix"></div>
        <hr />
        <h2>Atender Correspondencia</h2>
        <div class="form-group">
            <label class="col-md-2 control-label" for="DocumentStatus">Acción</label>
            <div class="col-md-4">
                @Html.DropDownListFor(m=> m.DBModel.AssignmentStatus, ViewBag.StatusList as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
            <label class="col-md-2 control-label" for="DocumentDate">Fecha para Respuesta</label>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.DBModel.ResponseDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="form-group">
            <label class="col-md-2 control-label" for="NewAnnotations">Instrucciones</label>
            <div class="col-md-6">
                @Html.TextAreaFor(m => m.DBModel.Annotations, new { @class = "form-control" })
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="form-group">
            <label class="col-md-2 control-label" for="AssignedTo">Responsable</label>
            <div class="col-md-6">
                <div id="divAdministrators" class="cam-peoplepicker-userlookup form-control">
                    <span id="spanAdministrators"></span>
                    <input type="text" class="cam-peoplepicker-edit" id="inputAdministrators" />
                </div>
                <div id="divAdministratorsSearch" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>

                @Html.HiddenFor(m => m.DBModel.AssignedToControl, new { @class = "form-control" })
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="form-group">
            <label class="col-md-2 control-label" for="AssignedToCC">Informar a</label>
            <div class="col-md-6">
                <div id="divAdministratorsCC" class="cam-peoplepicker-userlookup form-control">
                    <span id="spanAdministratorsCC"></span>
                    <input type="text" class="cam-peoplepicker-edit" id="inputAdministratorsCC" />
                </div>
                <div id="divAdministratorsSearchCC" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>
                @Html.HiddenFor(m => m.DBModel.AssignedToCCControl, new { @class = "form-control" })
            </div>
        </div>
        <div class="clearfix"></div><br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (string.IsNullOrEmpty(Model.ConfirmMessage))
                {
                    if (string.IsNullOrEmpty(Model.ErrorMessage) && string.IsNullOrEmpty(Model.WarningMessage))
                    {
                        <input type="submit" class="btn btn-default btn-primary" value="Enviar" />
                    }
                    if (!string.IsNullOrEmpty(Model.WarningMessage))
                    {
                        <div class="alert alert-warning" role="alert">@Model.WarningMessage</div>
                    }
                    if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
                    }
                    <input type="button" class="btn" value="Cancelar" onclick="window.close();" />
                }
                else
                {
                    <div class="alert alert-success" role="alert">@Model.ConfirmMessage</div>
                    <script type="text/javascript">
                            window.setTimeout(function () {
                                window.close();
                            }, 3500);
                    </script>
                }
            </div>
        </div>
        <div style="display:none">
            <div class="col-md-6">
                <div id="divAssignedBy" class="cam-peoplepicker-userlookup form-control">
                    <span id="spanAssignedBy"></span>
                    <input type="text" class="cam-peoplepicker-edit" id="inAssignedBy" />
                </div>
                <div id="divAssignedBySearch" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>
                @Html.HiddenFor(m => m.DBModel.AssignedByControl, new { @class = "form-control" })
            </div>
        </div>
    </form>
    
    <p class="hidden">
        @ViewBag.TraceTxt
    </p>
</div>
