@model ICP.SP.IntranetWeb.ViewModels.PendingDocumentViewModel
@{
    ViewBag.Title = "Assign a Document";
}

    <link rel="Stylesheet" type="text/css" href="../content/peoplepickercontrol.css" />
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="../Scripts/ppcassigndoc_actions.js" type="text/javascript"></script>
    <script src="../Scripts/peoplepickercontrol.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Set the style of the client web part page to be consistent with the host web.
        (function () {
            'use strict';

            var hostUrl = '';
            var link = document.createElement('link');
            link.setAttribute('rel', 'stylesheet');
            if (document.URL.indexOf('?') != -1) {
                var params = document.URL.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var p = decodeURIComponent(params[i]);
                    if (/^SPHostUrl=/i.test(p)) {
                        hostUrl = p.split('=')[1];
                        link.setAttribute('href', hostUrl + '/_layouts/15/defaultcss.ashx');                     
                        break;
                    }
                }
            }
            if (hostUrl == '') {
                link.setAttribute('href', '/_layouts/15/1033/styles/themable/corev15.css');
            }
            document.head.appendChild(link);
        })();
    </script>

    <div class="container">
        <h2>Assign the document for review</h2>
        <hr />
        <form action="@Request.Url.PathAndQuery" method="POST">

            <div class="form-group">
                <label class="col-md-2 control-label" for="WebTitle">Portal</label>
                <div class="col-md-4">
                    @ViewBag.WebTitle
                </div>
                <label class="col-md-2 control-label" for="DocLibraryTitle">Repositorio</label>
                <div class="col-md-4">
                    @ViewBag.DocLibraryTitle
                </div>
            </div>
            <div class="clearfix"></div><br/>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Title">Documento</label>
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Title, new { @class = "form-control" })
                </div>
                <label class="col-md-2 control-label" for="AssignedTo">Responsable</label>
                <div class="col-md-4">
                    <div id="divAdministrators" class="cam-peoplepicker-userlookup form-control">
                        <span id="spanAdministrators"></span>
                        <input type="text" class="cam-peoplepicker-edit" id="inputAdministrators" />
                    </div>
                    <div id="divAdministratorsSearch" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>

                    @Html.HiddenFor(m => m.AssignedTo, new { @class = "form-control hdnAdministrator" })
                </div>
            </div>
            <div class="clearfix"></div><br />
            <div class="form-group">
                <label class="col-md-2 control-label" for="DueTo">Vencimiento</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.DueTo, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                </div>
                <label class="col-md-2 control-label" for="FirstReminderDays">1er Recordatorio</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.FirstReminderDays, new { @class = "form-control", @type = "number", min = "1", max = "30" })
                </div>
                <label class="col-md-2 control-label" for="SecondReminderDays">2do Recordatorio</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.SecondReminderDays, new { @class = "form-control", @type = "number", min = "1", max = "30" })
                </div>
            </div>
            <div class="clearfix"></div><br />
            @Html.HiddenFor(m => m.SiteUrl)
            @Html.HiddenFor(m => m.DocLibrary)
            @Html.HiddenFor(m => m.ListItemId)
            @Html.HiddenFor(m => m.AssignmentId)
            @Html.HiddenFor(m => m.AssignmentDate)
            @Html.HiddenFor(m => m.PreviousPage)
            @Html.HiddenFor(m => m.DocumentURL)
            @Html.HiddenFor(m => m.Title)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (string.IsNullOrEmpty(Model.ConfirmMessage))
                    {
                        if (!string.IsNullOrEmpty(Model.WarningMessage))
                        {
                            <div class="alert alert-warning" role="alert">@Model.WarningMessage</div>
                        }
                        if (string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <input type="submit" class="btn btn-primary" value="Asignar" />
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
                        }
                        <input type="button" class="btn" value="Cancelar" onclick="window.history.back()" />
                    }
                    else
                    {
                        <div class="alert alert-success" role="alert">@Model.ConfirmMessage</div>
                        <script type="text/javascript">
                            window.setTimeout(function () {
                                window.location = '@ViewBag.PreviousPage';
                            }, 3500);
                        </script>
                    }
                </div>
            </div>
            </form>
</div>
